@import '@material/toolbar/mdc-toolbar';
@import '@material/typography/mdc-typography';
:host {
  section {
    margin: 0 1.5em 0 1.2em;
    .mdc-typography--subheading2 {
      color: var(--mdc-theme-text-primary-on-primary, black);
      font-size: 1.3rem;
    }
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }

  @media only screen and (max-width: 780px) {
    #left-panel {
      display: none;
    }
    #right-panel {
      display: none;
    }
  }
}
