@import "@material/menu/mdc-menu";
@import "@material/list/mdc-list";
@import "@material/select/mdc-select";

:host {
  .mdc-menu__items {
    background: var(--mdc-theme-primary , #efefef)
  }
  .mdc-list {
    min-width: 30em;
  }

   .mdc-select {
    min-width: 30em;
  }

  .mdc-simple-menu {
    min-width: 30em;
  }

  @media only screen and (max-width: 780px) {
    .mdc-select {
      min-width: 20em;
      width: 80%;
    }
    .mdc-simple-menu {
      min-width: 20em;
      width: 80%;
    }
  }
}
