@import "@material/select/mdc-select";

:host {
  label.mdc-floating-label.mdc-floating-label--float-above {
    color : grey !important;
  }
  z-index: 9999;
  .mdc-floating-label{
    color : grey;
  }
   .mdc-select {
    min-width: 25em;
  }
  @media only screen and (max-width: 780px) {
    .mdc-select {
      min-width: 20em;
      width: 80%;
    }
  }
}
