@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '@material/typography/mdc-typography';


:host{
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  #iframe-wrap {
    flex: 1;
    display: flex;
    position: relative;
    z-index: 0;
  }

  #iframeContainer {
    margin: 40px auto;

    box-sizing: content-box;
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      position: relative;
      background-color: #fff;
      z-index: 1;
    }
  }}
